<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorga</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav>
        <label for="show-projects" class="show-projects">Projects</label>
        <a href="index.html" class="back">&lt;&lt;</a>
        <div>
            <input type="checkbox" id="show-menu" role="button">
            <label for="show-menu" class="show-menu">Menu</label>
            <ul id="menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <aside>
        <input type="checkbox" id="show-projects" role="button">
        <ul id="projects">
            <li>Project1</li>
            <li>Project2</li>
            <li>Project3</li>
        </ul>
    </aside>

    <article>
        <ul>
            <li>
                <h4>Comment1</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti repellendus consequuntur cumque inventore odio architecto quo labore necessitatibus minima quaerat?
            </li>
            <hr>
            <li>
                <h4>Comment2</h4>Cumque eaque repudiandae dolor assumenda velit unde voluptate, aut ipsam sequi pariatur tempore at culpa, tenetur, labore laudantium vel aspernatur.
            </li>
            <hr>
            <li>
                <h4>Comment3</h4>Possimus eos vitae explicabo fugiat, placeat iste vero numquam ipsum, voluptate animi quod itaque deleniti ab omnis illo iure porro?
            </li>
            <hr>
            <li>
                <h4>Comment4</h4>Quas optio libero facilis sequi ad magni sint nulla. Neque id unde molestiae voluptates, iusto sint atque obcaecati repellat aperiam.
            </li>
            <hr>
            <li>
                <h4>Comment5</h4>Provident quos voluptates, maiores, omnis quidem nihil sed molestias, animi delectus pariatur aspernatur possimus! Obcaecati placeat libero commodi doloribus. Quae.
            </li>
            <hr>
            <li>
                <h4>Comment1</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti repellendus consequuntur cumque inventore odio architecto quo labore necessitatibus minima quaerat?
            </li>
            <hr>
            <li>
                <h4>Comment2</h4>Cumque eaque repudiandae dolor assumenda velit unde voluptate, aut ipsam sequi pariatur tempore at culpa, tenetur, labore laudantium vel aspernatur.
            </li>
            <hr>
            <li>
                <h4>Comment3</h4>Possimus eos vitae explicabo fugiat, placeat iste vero numquam ipsum, voluptate animi quod itaque deleniti ab omnis illo iure porro?
            </li>
            <hr>
            <li>
                <h4>Comment4</h4>Quas optio libero facilis sequi ad magni sint nulla. Neque id unde molestiae voluptates, iusto sint atque obcaecati repellat aperiam.
            </li>
            <hr>
            <li>
                <h4>Comment5</h4>Provident quos voluptates, maiores, omnis quidem nihil sed molestias, animi delectus pariatur aspernatur possimus! Obcaecati placeat libero commodi doloribus. Quae.
            </li>
        </ul>
    </article>

    <!-- footer>Copyright &copy; 2018 Sorga</footer -->

</body>
</html>
