<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorga</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="logo">Simple organizer app</div>
    </header>

    <nav>
        <label for="show-projects" class="show-projects">Projects</label>
        <div>
            <input type="checkbox" id="show-menu" role="button">
            <label for="show-menu" class="show-menu">Menu</label>
            <ul id="menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <aside>
        <input type="checkbox" id="show-projects" role="button">
        <ul id="projects">
            <li>Project1</li>
            <li>Project2</li>
            <li>Project3</li>
        </ul>
    </aside>

    <article>
        <ul>
            <li>Task1</li>
            <li>Task2</li>
            <li>Task3</li>
            <li>Task4</li>
            <li>Task5</li>
            <li>Task6</li>
            <li>Task7</li>
            <li>Task1</li>
            <li>Task2</li>
            <li>Task3</li>
            <li>Task4</li>
            <li>Task5</li>
            <li>Task6</li>
            <li>Task7</li>
            <li>Task1</li>
            <li>Task2</li>
            <li>Task3</li>
        </ul>
    </article>

    <!-- footer>Copyright &copy; 2018 Sorga</footer -->

</body>
</html>
