<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sorga</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="logo">Simple organizer app</div>
        <nav>
            <ul>
                <li><a href="#">item1</a></li>
                <li><a href="#">item2</a></li>
                <li><a href="#">item3</a></li>
            </ul>
        </nav>

    </header>

    <aside>
        <ul>
            <li>Project1</li>
            <li>Project2</li>
            <li>Project3</li>
        </ul>
    </aside>

    <article>
        <ul>
            <li>Task1</li>
            <li>Task2</li>
            <li>Task3</li>
            <li>Task4</li>
            <li>Task5</li>
            <li>Task6</li>
            <li>Task7</li>
        </ul>
    </article>

    <footer>2018 &copy; Sorga</footer>

</body>
</html>