<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorga</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav>
        <label for="show-projects" class="show-projects">Projects</label>
        <div class="welcome">Hi, AnonymousUser!</div>
        <div>
            <input type="checkbox" id="show-menu" role="button">
            <label for="show-menu" class="show-menu">Menu</label>
            <ul id="menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <input type="checkbox" id="show-projects" role="button" checked>
        <aside id="projects">
            <ul>
                <li>Project1</li>
                <li>Project2</li>
                <li>Project3</li>
                <li>Lorem ipsum dolor sit.</li>
            </ul>
        </aside>

        <article>
            <ul>
                <li><a href="comments.html">Task1</a></li>
                <li>Task2</li>
                <li>Task3</li>
                <li>Task4</li>
                <li>Task5</li>
                <li>Task6</li>
                <li>Task7</li>
                <!--li>Task1</li>
                <li>Task2</li>
                <li>Task3</li>
                <li>Task4</li>
                <li>Task5</li>
                <li>Task6</li>
                <li>Task7</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, provident!</li-->
            </ul>
        </article>
    </div>

    <!-- footer>Copyright &copy; 2018 Sorga</footer -->

</body>
</html>
