html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Calibri;
    font-size: 25px;
}

aside, article, nav {
    margin-bottom: 2px;
    background: #eee;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

article ul, aside ul {
    margin: 0 25px;
    padding: 25px;
}

#menu {
    list-style-type: none;
    position: absolute;
    right: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

#menu li {
    display: inline-block;
    width: 100%;
    margin-top: 1px;
}

#menu a,
.show-projects, .show-menu, .back {
    border: 1px solid white;
    text-decoration: none;
    display: inline-block;
    background-color: darkgray;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#menu a {
    width: 100%;
}

#menu a:hover,
.show-projects:hover,
.show-menu:hover,
.back:hover {
    background-color: gray;
}

#show-projects, #projects,
#show-menu, #menu {
    display: none;
}

input#show-projects[type=checkbox]:checked ~ #projects,
input#show-menu[type=checkbox]:checked ~ #menu {
    display: block;
}
