<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorga</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">
</head>
<body>

    <nav>
        <label for="show-projects" class="show-projects">Projects</label>
        {% block nav-center%}
        <div class="welcome">Hi, {{ user }}!</div>
        {% endblock %}
        <div>
            <input type="checkbox" id="show-menu" role="button">
            <label for="show-menu" class="show-menu">Menu</label>
            <ul id="menu">
                <li><a href="{% url 'organizer:about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'admin:index' %}">Profile</a></li>
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'intro' %}">Registration</a></li>
                <li><a href="{% url 'admin:login' %}?next=/organizer">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content">
        <input type="checkbox" id="show-projects" role="button" checked>

        <aside id="projects">
            <ul>
                <li><a {% if active == 'inbox' %}class="active"{% endif %} href="{% url 'organizer:show' 'inbox' %}{% if request.GET.sort %}?sort={{ request.GET.sort }}{% endif %}">Inbox</a> ({{ num_inbox_tasks }})</li>
                <li><a {% if active == 'today' %}class="active"{% endif %} href="{% url 'organizer:show' 'today' %}{% if request.GET.sort %}?sort={{ request.GET.sort }}{% endif %}">Today</a> ({{ num_today_tasks }})</li>
                <li><a {% if active == 'week' %}class="active"{% endif %} href="{% url 'organizer:show' 'week' %}{% if request.GET.sort %}?sort={{ request.GET.sort }}{% endif %}">Week</a> ({{ num_week_tasks }})</li>
            </ul>
            <hr>
            {% if project_list %}
                <ul>
                {% for p in project_list %}
                    <li><a{% if p == project %} class="active"{% endif %} href="{% url 'organizer:project' p.id %}{% if request.GET.sort %}?sort={{ request.GET.sort }}{% endif %}">{{ p.project_name }}</a> ({{ p.num_active_tasks }})</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No projects are available.</p>
            {% endif %}
            <hr>
            {% if project %}
            <form action="{% url 'organizer:projects_rename' project.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="project_name" value="{{ project }}" required>
                <input type="submit" value="Rename">
            </form>
            {% else %}
            <form action="{% url 'organizer:projects_add' %}" method="post">
                {% csrf_token %}
                <input type="text" name="project_name" placeholder="New project" required>
                <input type="submit" value="Add">
            </form>
            {% endif %}

            <p class="view-hidden">
            {% if active %}
                <a href="{% url 'organizer:show' 'hidden' %}">View hidden projects</a>
            {% else %}
                <a href="{% url 'organizer:show' 'inbox' %}">View active projects</a>
            {% endif %}
            </p>

        </aside>

        <article>
        {% block article %}

            <h3>
                {% if active %}{{ project.project_name|default:active|title }}:
                {% else %}{{ project.project_name|default:'Inbox' }}:{% endif %}
            </h3>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            {% if task_list %}
                <form action="{% url 'organizer:tasks_apply' project.id|default:'0' %}" method="post">
                {% csrf_token %}

                {% for task in task_list %}
                    <input type="checkbox" name="task{{ forloop.counter }}" id="task{{ forloop.counter }}" value="{{ task.id }}">

                    <label for="task{{ forloop.counter }}">
                        <a href="{% url 'organizer:task' task.id %}">{{ task.task_name }}</a>
                    </label>

                    {% if task.due_date %} <span {% if task.today_or_overdue%} class="overdue"{% endif %}>({{ task.due_date }})</span>{% endif %}{% if task.num_active_comments %} [{{ task.num_active_comments }}]{% endif %}<br>
                {% endfor %}
                <br>
                <input type="submit" value="Apply">
                {% if request.GET.sort == 'latest' %}
                    {% if active %}
                        <a href="{% url 'organizer:show' active %}">[Newest &uarr;]</a>
                    {% else %}
                        <a href="{% url 'organizer:project' project.id|default:'0' %}">[Newest &uarr;]</a>
                    {% endif %}
                {% else %}
                    {% if active %}
                        <a href="{% url 'organizer:show' active %}?sort=latest">[Newest &darr;]</a>
                    {% else %}
                        <a href="{% url 'organizer:project' project.id|default:'0' %}?sort=latest">[Newest &darr;]</a>
                    {% endif %}
                {% endif %}

                </form>

            {% else %}
                <p>No tasks are available.</p>
                <p>Select the project to see available tasks.</p>
            {% endif%}

            <form action="{% url 'organizer:tasks_add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="project_id" value="{{ project.id }}">
                <input type="text" name="task_name" placeholder="New task" required>
                <input type="submit" value="Add">
            </form>
            <hr>
            {% if project %}
                {% if project.done_flag %}
                    <a href="{% url 'organizer:projects_change' project.id 'activate' %}"><button>Activate project</button></a>
                {% else %}
                    <a href="{% url 'organizer:projects_change' project.id 'hide' %}"><button>Hide project</button></a>
                {% endif %}
            {% endif %}

            <p class="view-hidden">
            {% if 'done_tasks' in request.GET %}
                <a href="{% url 'organizer:project' project.id|default:'0' %}">View active tasks</a>
            {% else %}
                <a href="{% url 'organizer:project' project.id|default:'0' %}?done_tasks">View done tasks</a>
            {% endif %}
            </p>

        {% endblock %}
        </article>


    </div>

</body>
</html>
