<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorga</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">
</head>
<body>

    <nav>
        <label for="show-projects" class="show-projects">Projects</label>
        {% block nav-center%}
        <div class="welcome">Hi, {{ user }}</div>
        {% endblock %}
        <div>
            <input type="checkbox" id="show-menu" role="button">
            <label for="show-menu" class="show-menu">Menu</label>
            <ul id="menu">
                <li><a href="{% url 'organizer:about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'admin:index' %}">Profile</a></li>
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="#">Registration</a></li>
                <li><a href="{% url 'admin:login' %}?next=/">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content">
        <input type="checkbox" id="show-projects" role="button" checked>

        <aside id="projects">
            <h2>Projects</h2>
            <ul>
                <li><a {% if not project %}class="active"{% endif %} href="{% url 'organizer:index' %}">Inbox</a></li>
            </ul>
            <hr>
            {% if project_list %}
                <ul>
                {% for p in project_list %}
                    <li {% if p == project %}class="active"{% endif %}"><a href="{% url 'organizer:project' p.id %}">{{ p.project_name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No projects are available.</p>
            {% endif %}
            <br>
            {% if project %}
            <form action="{% url 'organizer:projects_rename' project.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="project_name">
                <input type="submit" value="Rename">
            </form>
            {% else %}
            <form action="{% url 'organizer:projects_add' %}" method="post">
                {% csrf_token %}
                <input type="text" name="project_name">
                <input type="submit" value="Add">
            </form>
            {% endif %}

            <br><br>
            <p><a href="{% url 'organizer:deleted_projects' %}">View deleted projects</a></p>

        </aside>

        <article>
        {% block article %}

            <h2>{{ project.project_name|default:"Inbox" }}</h2>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="{% url 'organizer:tasks_del' project.id|default:'0' %}" method="post">
            {% csrf_token %}

            {% if task_list %}
                {% for task in task_list %}
                    <input type="radio" name="task" id="task{{ forloop.counter }}" value="{{ task.id }}">
                    <label for="task{{ forloop.counter }}"><a href="{% url 'organizer:task' task.id %}">{{ task.task_name }}</a></label>
                    {% if task.due_date %} ({{ task.due_date }}){% endif %}<br>
                {% endfor %}
            {% else %}
                <p>No tasks are available.</p>
                <p>Select the project to see available tasks.</p>
            {% endif%}
            <br>
            <input type="submit" value="Delete">
            </form>

            <br>
            <form action="{% url 'organizer:tasks_add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="project_id" value="{{ project.id }}">
                <input type="text" name="task_name">
                <input type="submit" value="Add">
            </form>

            {% if project %}
            <br>
            <a href="{% url 'organizer:projects_del' project.id %}"><button>Delete project</button></a>
            {% endif %}

            <br><br>
            <p><a href="{% url 'organizer:deleted_tasks' project.id|default:'0' %}">View deleted tasks</a></p>

        {% endblock %}
        </article>


    </div>

</body>
</html>
