{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">

{% if project_list %}
	<ul>
	{% for project in project_list %}
		<li><a href="{% url 'organizer:project' project.id %}">{{ project.project_name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No projects are available.</p>
{% endif %}
<form action="{% url 'organizer:projects_add' %}" method="post">
    {% csrf_token %}
    <input type="text" name="project_name">
    <input type="submit" value="Add">
</form>
