{% extends "organizer/index.html" %}

{% block main %}
<main>
<h2>{{ project.project_name }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'organizer:tasks_add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="project_id" value="{{ project.id }}">
    <input type="text" name="task_name">
    <input type="submit" value="Add">
</form>
<br>
<form action="{% url 'organizer:tasks_del' project.id %}" method="post">
{% csrf_token %}
{% for task in project.task_set.all %}
    <input type="radio" name="task" id="task{{ forloop.counter }}" value="{{ task.id }}">
    <label for="task{{ forloop.counter }}"><a href="{% url 'organizer:task' task.id %}">{{ task.task_name }}</a></label><br>
{% endfor %}
<br>
<input type="submit" value="Delete">
</form>

<br>
<a href="{% url 'organizer:projects_del' project.id %}"><button>Delete project</button></a>

</main>
{% endblock %}
