{% extends "organizer/index.html" %}

{% block nav-center %}
    {% if active %}
        <a href="{% url 'organizer:show' active %}" class="back">&lt;&lt;</a>
    {% else %}
        <a href="{% url 'organizer:project' task.project.id|default:'0' %}" class="back">&lt;&lt;</a>
    {% endif %}
{% endblock %}

{% block article %}

    <h2>{{ task }}</h2>

    <form action="{% url 'organizer:tasks_change' task.id %}" method="post">
        {% csrf_token %}
        <ul>
            <li>Owner: {{ user }}</li>
            <li>Date published: {{ task.pub_date }}</li>
            <li>Task: <input type="text" name="task_name" value="{{ task.task_name }}" required></li>
            <li>Project:
                <select name="project_select">
                    <option value="0">Inbox</option>
                    {% for project in project_list%}
                    <option value="{{ project.id }}"{% if task.project == project %} selected {% endif %}>{{ project }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>Status:
                <select name="done_flag">
                    <option value="False">Active</option>
                    <option value="True"{% if task.done_flag %} selected {% endif %}>Closed</option>
                </select>
            </li>
            <li>Repeat:
                <select name="task_repeat">
                    <option value="{{ task.repeat|lower }}">{{ task.repeat|capfirst }}</option>
                    <option value="none">None</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                </select>
            </li>
            <li>Snooze:
                <select name="task_snooze">
                    {% if task.snooze_date %}
                        <option value="test">{{ task.snooze_date }}</option>
                    {% endif %}
                    <option value="none">None</option>
                    <option value="today">Today</option>
                </select>
            </li>
            <li {% if task.today_or_overdue%} class="overdue"{% endif %}>Deadline:
                <input type="date" name="due_date_d" value="{{ task.due_date.date|date:"Y-m-d" }}">
                <input type="time" name="due_date_t" value="{{ task.due_date.time|time:"H:i" }}">
            </li>
        </ul>
        <input type="submit" value="Save changes">
    </form>

    <hr>

    <h3>Comments:</h3>

    {% if comment_list %}
        <ul>
        {% for comment in comment_list %}
            <li>
                <form action="{% url 'organizer:comments_hide' task.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <p><u>{{ comment.pub_date }} by {{ comment.user }}</u>. [<a href="{% url 'organizer:task' task.id %}?comment_edit={{ comment.id }}#comment-edit">Edit</a>{% if comment.last_edit_date%}  -> Last edit: {{ comment.last_edit_date }}{% endif %}] <input type="submit" value="Hide"></p>
                    {{ comment.comment_text|urlize|linebreaks }}
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <form id="comment-edit" action="{% url 'organizer:comments_save' task.id %}" method="post">
        {% csrf_token %}
        {% if comment %}
        <textarea name="comment_text" rows="5" cols="50" required>{{ comment.comment_text }}</textarea>
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        <input type="submit" value="Save">
        {% else %}
        <textarea name="comment_text" rows="5" cols="50" placeholder="New comment" required></textarea>
        <input type="submit" value="Add">
        {% endif %}
    </form>

{% endblock %}
