<h3>{{ request.user }}, welcome to your profile!</h3>
<ul><u>Export data</u>:
<li><a href="{% url 'organizer:export' %}">{% url 'organizer:export' %}</a></li>
<li><a href="{% url 'organizer:export' 'txt' %}">{% url 'organizer:export' 'txt' %}</a></li>
<li><a href="{% url 'organizer:export' 'html' %}">{% url 'organizer:export' 'html' %}</a></li>
<li><a href="{% url 'organizer:export' 'json' %}">{% url 'organizer:export' 'json' %}</a></li>
</ul>

<hr>

<form action="{% url 'account:save_changes' %}" method="post">
    {% csrf_token %}
    <ul>
        <li>Username: <input type="text" name="user_name" value="{{ user }}" required></li>
        <li>Email: <input type="email" name="user_email" value="{{ user.email }}" required></li>
        <li>Number random tasks in daily mail: <input type="number" name="num_rand_tasks" value="{{ num_rand_tasks }}" required></li>

    </ul>
    <input type="submit" value="Save changes">
</form>
